/* Responsive design for screens up to 400px width */
@media screen and (max-width: 400px) {
  .container .alert,
  .container .input {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* Main container styles */
.container {
  font-family: "IBM Plex Sans KR", sans-serif;
  max-width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; /* 둥근 테두리 적용 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 약간의 그림자 적용 */
}

/* Edit profile wrapper styles */
.container .edit-profile-wrapper {
  padding-top: 80px;
}

.container .edit-profile-wrapper .edit-profile-header {
  text-align: center;
  font-size: 25px;
}

.container .edit-profile-wrapper .form-header {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
}

.container .edit-profile-wrapper .alert {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 14px;
  color: #ccc5b9;
}

.container .edit-profile-wrapper .input {
  padding-left: 10px;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: #fffcf2;
  color: #252422;
  outline: none;
  border: 1px solid #ccc5b9;
  border-radius: 5px;
  height: 30px;
}

.container .edit-profile-wrapper .display-name-wrapper,
.container .edit-profile-wrapper .btn-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.container .edit-profile-wrapper .password-wrapper {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  text-align: center;
  display: flex;
  flex-direction: column; /* 컬럼 방향으로 정렬 */
  align-items: center; /* 가운데 정렬 */

  /* 수정된 부분 */
  & .Profile__password-input {
    margin-bottom: 10px;
  }

  & .Profile__password {
    margin-top: 10px;
  }
}

/* Divider line */
.container .line {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0px;
  height: 1px;
  background-color: #ccc5b9;
}

/* Footer styles */
.container .footer {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #ccc5b9;
  font-size: 14px;
}
