.navbar {
  background: #772eff;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
}
.navbar h1 {
  margin: 0;
  margin-right: auto;
}
.navbar li {
  display: inline-block;
  margin: 0 0 0 16px;
  cursor: pointer;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar btn {
  cursor: pointer;
}
