/* MynewsForm.css */
.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #ccc; /* 추가된 라인 */
  padding: 15px; /* 추가된 라인 */

  label {
    margin-bottom: 10px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }

  button {
    padding: 10px;
    background-color: #772eff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
