.Todo-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;

  label {
    margin-bottom: 10px;
  }

  span {
    text-align: center;
    font-size: large;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }

  button {
    padding: 10px;
    background-color: #772eff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #5c24b4;
  }
}
