/* Footer.module.css */

.footer {
  background-color: #772eff;
  color: #fff;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40%;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.info {
  flex: 1;
}

.contact {
  flex: 1;
}

h3,
h4 {
  margin-bottom: 5px;
}

.copyRight {
  margin-top: 5px;
  text-align: center;
}
